---
api:
  file: v2.json
  operationId: get-verification
hidden: false
metadata:
  title: ''
  description: ''
  robots: index
next:
  description: ''
---
