{"openapi":"3.1.0","info":{"title":"v1","version":"1.0"},"servers":[{"url":"https://api.coingate.com/v1"}],"components":{"securitySchemes":{}},"security":[{}],"paths":{"/orders":{"post":{"summary":"Create Order","description":"","operationId":"create-order","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","required":["price","currency","receive_currency"],"properties":{"order_id":{"type":"string","description":"Merchant's custom order ID. We recommend to use unique order ID. Example: CGORDER-12345"},"price":{"type":"number","description":"The price set by the merchant. Example: 1050.99","format":"double"},"currency":{"type":"string","description":"[ISO 4217](http://en.wikipedia.org/wiki/ISO_4217) currency code which defines the currency in which you wish to price your merchandise; used to define price parameter. Possible values: EUR, USD, [etc](https://coingate.com/currencies)"},"receive_currency":{"type":"string","description":"[ISO 4217](http://en.wikipedia.org/wiki/ISO_4217) currency code which defines the currency in which you wish to receive your payouts. Currency conversions are done at CoinGate. Possible values: EUR, USD, BTC."},"title":{"type":"string","description":"Max 150 characters. Example: product title (Apple Iphone 6), order id (MyShop Order #12345), cart id (Cart #00004335)"},"description":{"type":"string","description":"More details about this order. Max 500 characters. It can be cart items, product details or other comment. Example: 1 x Apple Iphone 6, 1 x Apple MacBook Air"},"callback_url":{"type":"string","description":"Send an automated message to Merchant URL when order status is changed. Example: http://example.com/payments/callback?token=tDBujwMWVM9bfV8t1vkzLw"},"cancel_url":{"type":"string","description":"Redirect to Merchant URL when buyer canceled order. Example: http://example.com/cart"},"success_url":{"type":"string","description":"Redirect to Merchant URL after successful payment. Example: http://example.com/account/orders"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"id\": 115,\n    \"currency\": \"USD\",\n    \"bitcoin_uri\": \"bitcoin:mwkAW8TF8ZqYJNYFvrkhnUM4ynq8AvtWhD?amount=2.837\",\n    \"status\": \"pending\",\n    \"created_at\": \"2014-11-10T11:50:03+00:00\",\n    \"expire_at\": \"2014-11-10T12:00:03+00:00\",\n    \"bitcoin_address\": \"mwkAW8TF8ZqYJNYFvrkhnUM4ynq8AvtWhD\",\n    \"order_id\": \"ORDER-1415620115\",\n    \"price\": 1050,\n    \"btc_amount\": 2.837,\n    \"payment_url\": \"https://sandbox.coingate.com/invoice/46f36cbd-01d4-4082-bb46-f670e9965181\"\n}"}},"schema":{"type":"object","properties":{"id":{"type":"integer","example":115,"default":0},"currency":{"type":"string","example":"USD"},"bitcoin_uri":{"type":"string","example":"bitcoin:mwkAW8TF8ZqYJNYFvrkhnUM4ynq8AvtWhD?amount=2.837"},"status":{"type":"string","example":"pending"},"created_at":{"type":"string","example":"2014-11-10T11:50:03+00:00"},"expire_at":{"type":"string","example":"2014-11-10T12:00:03+00:00"},"bitcoin_address":{"type":"string","example":"mwkAW8TF8ZqYJNYFvrkhnUM4ynq8AvtWhD"},"order_id":{"type":"string","example":"ORDER-1415620115"},"price":{"type":"integer","example":1050,"default":0},"btc_amount":{"type":"number","example":2.837,"default":0},"payment_url":{"type":"string","example":"https://sandbox.coingate.com/invoice/46f36cbd-01d4-4082-bb46-f670e9965181"}}}}}},"422":{"description":"422","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"message\": \"Order is not valid\",\n    \"reason\": \"OrderIsNotValid\",\n    \"errors\": [\n        \"Price can't be blank\",\n        \"Price is not a number\",\n        \"Btc amount can't be blank\",\n        \"Btc amount is not a number\"\n    ]\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"Order is not valid"},"reason":{"type":"string","example":"OrderIsNotValid"},"errors":{"type":"array","items":{"type":"string","example":"Price can't be blank"}}}}}}}},"deprecated":false},"get":{"summary":"List Orders","description":"","operationId":"list-orders","parameters":[{"name":"per_page","in":"query","description":"How many orders per page. Max 100. Default 100","schema":{"type":"integer","format":"int32","default":100}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32","default":1}},{"name":"sort","in":"query","description":"Sort orders by field. Available sort options: created_at_asc, created_at_desc. Default created_at_desc","schema":{"type":"string","default":"created_at_desc"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"current_page\": 1,\n  \"per_page\": 2,\n  \"total_orders\": 618,\n  \"total_pages\": 309,\n  \"orders\": [{\n    \"id\": 3443,\n    \"currency\": \"EUR\",\n    \"bitcoin_uri\": \"bitcoin:mk4QAby26rn7cQ8QzPL7wLw1vcDWe7jGps?amount=0.40675303\",\n    \"status\": \"pending\",\n    \"price\": \"600.00\",\n    \"btc_amount\": \"0.40675303\",\n    \"created_at\": \"2017-05-04T13:54:12+00:00\",\n    \"expire_at\": \"2017-05-04T14:09:12+00:00\",\n    \"bitcoin_address\": \"mk4QAby26rn7cQ8QzPL7wLw1vcDWe7jGps\",\n    \"order_id\": \"TEST-ORDER-1493906052\",\n    \"payment_url\": \"https://sandbox.coingate.com/invoice/8d50aa4d-754f-4289-bf5e-53aaa8bd904a\"\n  }, {\n    \"id\": 3442,\n    \"currency\": \"EUR\",\n    \"bitcoin_uri\": \"bitcoin:mzs4n8CJYXRsLmsPXbE2imQXaTjSkEesgz?amount=0.40675303\",\n    \"status\": \"pending\",\n    \"price\": \"600.00\",\n    \"btc_amount\": \"0.40675303\",\n    \"created_at\": \"2017-05-04T13:54:06+00:00\",\n    \"expire_at\": \"2017-05-04T14:09:06+00:00\",\n    \"bitcoin_address\": \"mzs4n8CJYXRsLmsPXbE2imQXaTjSkEesgz\",\n    \"order_id\": \"TEST-ORDER-1493906046\",\n    \"payment_url\": \"https://sandbox.coingate.com/invoice/1052a60a-6b10-4a3c-8874-771e6f9c0c83\"\n  }]\n}"}},"schema":{"type":"object","properties":{"current_page":{"type":"integer","example":1,"default":0},"per_page":{"type":"integer","example":2,"default":0},"total_orders":{"type":"integer","example":618,"default":0},"total_pages":{"type":"integer","example":309,"default":0},"orders":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":3443,"default":0},"currency":{"type":"string","example":"EUR"},"bitcoin_uri":{"type":"string","example":"bitcoin:mk4QAby26rn7cQ8QzPL7wLw1vcDWe7jGps?amount=0.40675303"},"status":{"type":"string","example":"pending"},"price":{"type":"string","example":"600.00"},"btc_amount":{"type":"string","example":"0.40675303"},"created_at":{"type":"string","example":"2017-05-04T13:54:12+00:00"},"expire_at":{"type":"string","example":"2017-05-04T14:09:12+00:00"},"bitcoin_address":{"type":"string","example":"mk4QAby26rn7cQ8QzPL7wLw1vcDWe7jGps"},"order_id":{"type":"string","example":"TEST-ORDER-1493906052"},"payment_url":{"type":"string","example":"https://sandbox.coingate.com/invoice/8d50aa4d-754f-4289-bf5e-53aaa8bd904a"}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"text","code":"https://api-sandbox.coingate.com/v1/orders?per_page=10&page=5&sort=created_at_desc"}],"samples-languages":["text"]}}},"/orders/:id":{"get":{"summary":"Get Order","description":"","operationId":"get-order","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"id\": 222,\n    \"currency\": \"USD\",\n    \"bitcoin_uri\": \"bitcoin:mp1DPiAH5qhYE7WFCKCz55EnvrGNyL2eYh?amount=4.6151323\",\n    \"status\": \"pending\",\n    \"price\": \"1050.00\",\n    \"btc_amount\": \"4.61513230\",\n    \"created_at\": \"2015-04-16T13:14:14+00:00\",\n    \"expire_at\": \"2015-04-16T13:24:14+00:00\",\n    \"bitcoin_address\": \"mp1DPiAH5qhYE7WFCKCz55EnvrGNyL2eYh\",\n    \"order_id\": \"ORDER-1429189956\",\n    \"payment_url\": \"https://sandbox.coingate.com/invoice/db37928e-84e7-43ca-8257-b30f69edfc44\"\n}"}},"schema":{"type":"object","properties":{"id":{"type":"integer","example":222,"default":0},"currency":{"type":"string","example":"USD"},"bitcoin_uri":{"type":"string","example":"bitcoin:mp1DPiAH5qhYE7WFCKCz55EnvrGNyL2eYh?amount=4.6151323"},"status":{"type":"string","example":"pending"},"price":{"type":"string","example":"1050.00"},"btc_amount":{"type":"string","example":"4.61513230"},"created_at":{"type":"string","example":"2015-04-16T13:14:14+00:00"},"expire_at":{"type":"string","example":"2015-04-16T13:24:14+00:00"},"bitcoin_address":{"type":"string","example":"mp1DPiAH5qhYE7WFCKCz55EnvrGNyL2eYh"},"order_id":{"type":"string","example":"ORDER-1429189956"},"payment_url":{"type":"string","example":"https://sandbox.coingate.com/invoice/db37928e-84e7-43ca-8257-b30f69edfc44"}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"message\": \"Order not found\",\n  \"reason\": \"OrderNotFound\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"Order not found"},"reason":{"type":"string","example":"OrderNotFound"}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"text","code":":id is CoinGate order ID, for example: https://api.coingate.com/orders/222","name":" "}],"samples-languages":["text"]}}},"/rates/merchant/{from}/{to}":{"get":{"summary":"Rate","description":"This endpoint is public, authentication is not required.","operationId":"rate","parameters":[{"name":"from","in":"path","description":"ISO Symbol. Example: EUR, USD, BTC, ETH","schema":{"type":"string"},"required":true},{"name":"to","in":"path","description":"ISO Symbol. Example: EUR, USD, BTC, ETH","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"text/plain":{"examples":{"Result":{"value":"7469.5"}},"schema":{"type":"number","example":7469.5,"default":0}}}}},"deprecated":false}},"/ping":{"get":{"summary":"Ping","description":"A health check endpoint for CoinGate API. This endpoint is public, authentication is not required.","operationId":"ping","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  ping: \"pong\",\n  time: \"2017-12-13T19:07:18+00:00\"\n}"}}}}}},"deprecated":false}}},"x-readme":{"headers":[],"explorer-enabled":false,"proxy-enabled":true},"x-readme-fauxas":true}