{
  "openapi": "3.1.0",
  "info": {
    "title": "v2",
    "version": "2"
  },
  "servers": [
    {
      "url": "https://api.coingate.com/api/v2"
    }
  ],
  "components": {
    "securitySchemes": {}
  },
  "security": [
    {}
  ],
  "paths": {
    "/orders": {
      "post": {
        "summary": "Create Order",
        "description": "Create order at CoinGate and redirect shopper to invoice (payment_url).",
        "operationId": "create-order",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"id\": 538,\n  \"status\": \"new\",\n  \"title\": \"Order #111\",\n  \"do_not_convert\": false,\n  \"orderable_type\": \"ApiApp\",\n  \"orderable_id\": 3,\n  \"price_currency\": \"EUR\",\n  \"price_amount\": \"10.0\",\n  \"lightning_network\": false,\n  \"receive_currency\": \"EUR\",\n  \"receive_amount\": \"0\",\n  \"created_at\": \"2022-12-09T14:02:41+00:00\",\n  \"order_id\": \"111\",\n  \"payment_url\": \"http://localhost:3000/invoice/a275c4a1-fc54-45b1-a98a-66652e338fb2\",\n  \"underpaid_amount\": \"0\",\n  \"overpaid_amount\": \"0\",\n  \"is_refundable\": false,\n  \"refunds\": [],\n  \"voids\": [],\n  \"fees\": [],\n  \"token\": \"PsPXSa46uohMtMWqfzTrnwy3p3sNmQ\",\n\t\"blockchain_transactions\": []\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 538,
                      "default": 0
                    },
                    "status": {
                      "type": "string",
                      "example": "new"
                    },
                    "title": {
                      "type": "string",
                      "example": "Order #111"
                    },
                    "do_not_convert": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "orderable_type": {
                      "type": "string",
                      "example": "ApiApp"
                    },
                    "orderable_id": {
                      "type": "integer",
                      "example": 3,
                      "default": 0
                    },
                    "price_currency": {
                      "type": "string",
                      "example": "EUR"
                    },
                    "price_amount": {
                      "type": "string",
                      "example": "10.0"
                    },
                    "lightning_network": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "receive_currency": {
                      "type": "string",
                      "example": "EUR"
                    },
                    "receive_amount": {
                      "type": "string",
                      "example": "0"
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2022-12-09T14:02:41+00:00"
                    },
                    "order_id": {
                      "type": "string",
                      "example": "111"
                    },
                    "payment_url": {
                      "type": "string",
                      "example": "http://localhost:3000/invoice/a275c4a1-fc54-45b1-a98a-66652e338fb2"
                    },
                    "underpaid_amount": {
                      "type": "string",
                      "example": "0"
                    },
                    "overpaid_amount": {
                      "type": "string",
                      "example": "0"
                    },
                    "is_refundable": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "refunds": {
                      "type": "array"
                    },
                    "voids": {
                      "type": "array"
                    },
                    "fees": {
                      "type": "array"
                    },
                    "token": {
                      "type": "string",
                      "example": "PsPXSa46uohMtMWqfzTrnwy3p3sNmQ"
                    },
                    "blockchain_transactions": {
                      "type": "array"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"message\": \"Order is not valid\",\n    \"reason\": \"OrderIsNotValid\",\n    \"errors\": [\n        \"Price can't be blank\",\n        \"Price is not a number\",\n        \"Btc amount can't be blank\",\n        \"Btc amount is not a number\"\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Order is not valid"
                    },
                    "reason": {
                      "type": "string",
                      "example": "OrderIsNotValid"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Price can't be blank"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "## Create Order\ncurl -X \"POST\" \"http://localhost:3000/api/v2/orders\" \\\n     -H 'Authorization: Token YOU_API_TOKEN' \\\n     -H 'Content-Type: application/x-www-form-urlencoded; charset=utf-8' \\\n     --data-urlencode \"title=My Store Order #111\" \\\n     --data-urlencode \"price_amount=1369\" \\\n     --data-urlencode \"price_currency=EUR\" \\\n     --data-urlencode \"receive_currency=USDC\" \\\n     --data-urlencode \"callback_url=https://example.com/test\" \\\n     --data-urlencode \"success_url=http://example.com/success\" \\\n     --data-urlencode \"cancel_url=http://example.com/cancel\" \\\n     --data-urlencode \"order_id=111\" \\\n     --data-urlencode \"description=iPhone 16 Pro Max (256 GB)\" \\\n     --data-urlencode \"shopper[type]=personal\" \\\n     --data-urlencode \"shopper[ip_address]=127.0.0.1\" \\\n     --data-urlencode \"shopper[email]=test@example.com\" \\\n     --data-urlencode \"shopper[first_name]=Joe\" \\\n     --data-urlencode \"shopper[last_name]=Doe\" \\\n     --data-urlencode \"shopper[date_of_birth]=1987-02-12\"\n"
            },
            {
              "language": "php",
              "code": "<?php\n// API endpoint URL\n$url = 'https://api-sandbox.coingate.com/api/v2/orders';\n\n// Request headers\n$headers = [\n    'Authorization: Token YOUR_API_TOKEN',\n    'Content-Type: application/x-www-form-urlencoded; charset=utf-8',\n];\n\n// Request payload\n$data = http_build_query([\n    'title' => 'My Store Order #111',\n    'price_amount' => '1369',\n    'price_currency' => 'EUR',\n    'receive_currency' => 'USDC',\n    'callback_url' => 'https://example.com/test',\n    'success_url' => 'http://example.com/success',\n    'cancel_url' => 'http://example.com/cancel',\n    'order_id' => '111',\n    'description' => 'iPhone 16 Pro Max (256 GB)',\n    'shopper[type]' => 'personal',\n    'shopper[ip_address]' => '127.0.0.1',\n    'shopper[email]' => 'test@example.com',\n    'shopper[first_name]' => 'Joe',\n    'shopper[last_name]' => 'Doe',\n    'shopper[date_of_birth]' => '1987-02-12'\n]);\n\n// Initialize cURL session\n$ch = curl_init($url);\n\n// cURL options\ncurl_setopt($ch, CURLOPT_POST, true);\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_POSTFIELDS, $data);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n// Execute cURL request\n$response = curl_exec($ch);\n\n// Check for errors\nif (curl_errno($ch)) {\n    echo 'cURL Error: ' . curl_error($ch);\n    exit;\n}\n\n// Close cURL session\ncurl_close($ch);\n\n// Decode JSON response\n$responseData = json_decode($response, true);\n\n// Check if payment_url is present in response\nif (isset($responseData['payment_url'])) {\n    $paymentUrl = $responseData['payment_url'];\n    // Redirect to payment URL\n    header(\"Location: $paymentUrl\");\n    exit;\n} else {\n    echo 'Payment URL not found in the response.';\n    print_r($responseData); // For debugging purposes\n}"
            }
          ],
          "samples-languages": [
            "curl",
            "php"
          ]
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "order_id": {
                    "type": "string",
                    "description": "Merchant's custom order ID. We recommend using a unique order ID. Example: CGORDER-12345."
                  },
                  "price_amount": {
                    "type": "number",
                    "format": "double",
                    "description": "The price set by the merchant. Example: 1050.99."
                  },
                  "price_currency": {
                    "type": "string",
                    "description": "[ISO 4217](http://en.wikipedia.org/wiki/ISO_4217) currency code which defines the currency in which you wish to price your merchandise used to define price parameter. [Supported currencies](https://developer.coingate.com/docs/currencies)"
                  },
                  "receive_currency": {
                    "type": "string",
                    "description": "[ISO 4217](http://en.wikipedia.org/wiki/ISO_4217) currency code specifying the currency in which you want to receive settlements. Currency conversions are handled by CoinGate. See [Supported Settlement Currencies](https://developer.coingate.com/reference/currencies) for available options, or use DO_NOT_CONVERT to keep the payment in its original currency. For setup instructions, see [How to Configure Settlement Currency](https://support.coingate.com/hc/en-us/articles/21208494395676)."
                  },
                  "title": {
                    "type": "string",
                    "description": "Min 3 - Max 150 characters. Example: product title (Apple iPhone 6), order id (MyShop Order #12345), cart id (Cart #00004335)."
                  },
                  "description": {
                    "type": "string",
                    "description": "More details about this order. Min 3 - Max 500 characters. It can be cart items, product details or other information. Example: 1 x Apple iPhone 6, 1 x Apple MacBook Air."
                  },
                  "callback_url": {
                    "type": "string",
                    "description": "Send an automated message to Merchant URL when order status is changed. For testing you can use [requestcatcher.com](https://requestcatcher.com/) tool. URL must be direct without redirection."
                  },
                  "cancel_url": {
                    "type": "string",
                    "description": "Redirect to Merchant URL when buyer cancels the order"
                  },
                  "success_url": {
                    "type": "string",
                    "description": "Redirect to Merchant URL after successful payment"
                  },
                  "token": {
                    "type": "string",
                    "description": "Your custom token to validate payment callback (notification)."
                  },
                  "shopper": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "must be 'business' or 'personal'"
                      },
                      "ip_address": {
                        "type": "string",
                        "description": "Shopper’s IP address"
                      },
                      "email": {
                        "type": "string",
                        "description": "Shoppers e-mail address"
                      },
                      "first_name": {
                        "type": "string",
                        "description": "Shopper’s first name. For business type, provide the representative’s first name"
                      },
                      "last_name": {
                        "type": "string",
                        "description": "Shopper’s last name. For business type, provide the representative’s last name"
                      },
                      "date_of_birth": {
                        "type": "string",
                        "format": "date",
                        "description": "Shopper’s date of birth. For business type, provide the representative’s date of birth. Must be a valid date in the format YYYY-MM-DD"
                      },
                      "residence_address": {
                        "type": "string",
                        "description": "Shopper's residence address. Can be omitted if the shopper is a business"
                      },
                      "residence_postal_code": {
                        "type": "string",
                        "description": "Shopper's residence postal code. Can be omitted if the shopper is a business"
                      },
                      "residence_city": {
                        "type": "string",
                        "description": "Shopper’s residence city. Can be omitted if the shopper is a business"
                      },
                      "residence_country": {
                        "type": "string",
                        "description": "Shopper's country of residence. Must be a valid Alpha-2 country code. May be omitted if the shopper is a business."
                      },
                      "company_details": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Company's legal name."
                          },
                          "code": {
                            "type": "string",
                            "description": "Company code (or business ID number) assigned by the authority under which the company is registered."
                          },
                          "incorporation_date": {
                            "type": "string",
                            "description": "Date of company's incorporation. Must be a valid date in the format YYYY-MM-DD."
                          },
                          "incorporation_country": {
                            "type": "string",
                            "format": "date",
                            "description": "Country where the company was incorporated. Must be a valid Alpha-2 country code."
                          },
                          "address": {
                            "type": "string",
                            "description": "Company’s registered address."
                          },
                          "postal_code": {
                            "type": "string",
                            "description": "Postal code of the company’s registered address."
                          },
                          "city": {
                            "type": "string",
                            "description": "Company’s registered address city."
                          },
                          "country": {
                            "type": "string",
                            "description": "Company's country of registration. Must be a valid Alpha-2 country code."
                          }
                        },
                        "description": "Company details must be provided when the shopper type is 'business'."
                      }
                    },
                    "description": "Optional object to enhance the shopper’s experience and prefill the Travel Rule form on the checkout page. Learn more about the [Travel Rule](https://coingate.com/blog/post/travel-rule-explained). All fields are optional."
                  }
                },
                "type": "object",
                "required": [
                  "price_amount",
                  "price_currency",
                  "title",
                  "description"
                ]
              }
            }
          }
        }
      },
      "get": {
        "summary": "List Orders",
        "description": "Retrieving information of all placed orders.",
        "operationId": "list-orders",
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "description": "How many orders per page. Max: 100. Default: 100.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort orders by field. Available sort options: created_at_asc, created_at_desc. Default: created_at_desc.",
            "schema": {
              "type": "string",
              "default": "created_at_desc"
            }
          },
          {
            "name": "created_at[from]",
            "in": "query",
            "description": "Optional. Where order creation time is equal or greater. Example: 2018-09-01",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "created_at[to]",
            "in": "query",
            "description": "Optional. Where order creation time is equal or less. Example: 2018-09-30",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by order status. [Order statuses](https://developer.coingate.com/reference/order-statuses)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "paid_at[from]",
            "in": "query",
            "description": "Optional. Where order paid at time is equal or greater. Example: 2018-09-01",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "paid_at[to]",
            "in": "query",
            "description": "Optional. Where order creation time is equal or less. Example: 2018-09-30",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "current_page": 1,
                      "per_page": 2,
                      "total_orders": 455,
                      "total_pages": 228,
                      "orders": [
                        {
                          "id": 537,
                          "status": "canceled",
                          "title": "test",
                          "do_not_convert": false,
                          "orderable_type": "Button",
                          "orderable_id": 2,
                          "price_currency": "EUR",
                          "price_amount": "10.0",
                          "lightning_network": false,
                          "receive_currency": "",
                          "receive_amount": "0",
                          "created_at": "2022-12-09T13:53:43+00:00",
                          "order_id": "",
                          "payment_url": "http://localhost:3000/invoice/e386db94-d648-4b4b-9b19-1f2825f7eb32",
                          "underpaid_amount": "0",
                          "overpaid_amount": "0",
                          "is_refundable": false,
                          "refunds": [],
                          "voids": [],
                          "fees": [],
                          "blockchain_transactions": [],
                          "ledger_transactions": []
                        },
                        {
                          "id": 536,
                          "status": "canceled",
                          "title": "test",
                          "do_not_convert": false,
                          "orderable_type": "Button",
                          "orderable_id": 2,
                          "price_currency": "EUR",
                          "price_amount": "20.0",
                          "pay_currency": "BTC",
                          "pay_amount": "0.0009822",
                          "lightning_network": false,
                          "receive_currency": "USDT",
                          "receive_amount": "0",
                          "created_at": "2022-12-07T11:27:11+00:00",
                          "expire_at": "2022-12-07T11:47:18+00:00",
                          "payment_address": "00e5602a-3380-4437-b1df-483ff84c47de",
                          "order_id": "",
                          "payment_url": "http://localhost:3000/invoice/725ee4b4-4a75-45a5-8f3d-c8012546cda9",
                          "underpaid_amount": "0.0009822",
                          "overpaid_amount": "0",
                          "is_refundable": false,
                          "conversion_rate": "20566.0",
                          "refunds": [],
                          "voids": [],
                          "fees": [],
                          "blockchain_transactions": [],
                          "ledger_transactions": []
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "current_page": {
                      "type": "integer",
                      "example": 1,
                      "default": 0
                    },
                    "per_page": {
                      "type": "integer",
                      "example": 2,
                      "default": 0
                    },
                    "total_orders": {
                      "type": "integer",
                      "example": 455,
                      "default": 0
                    },
                    "total_pages": {
                      "type": "integer",
                      "example": 228,
                      "default": 0
                    },
                    "orders": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 537,
                            "default": 0
                          },
                          "status": {
                            "type": "string",
                            "example": "canceled"
                          },
                          "title": {
                            "type": "string",
                            "example": "test"
                          },
                          "do_not_convert": {
                            "type": "boolean",
                            "example": false,
                            "default": true
                          },
                          "orderable_type": {
                            "type": "string",
                            "example": "Button"
                          },
                          "orderable_id": {
                            "type": "integer",
                            "example": 2,
                            "default": 0
                          },
                          "price_currency": {
                            "type": "string",
                            "example": "EUR"
                          },
                          "price_amount": {
                            "type": "string",
                            "example": "10.0"
                          },
                          "lightning_network": {
                            "type": "boolean",
                            "example": false,
                            "default": true
                          },
                          "receive_currency": {
                            "type": "string",
                            "example": ""
                          },
                          "receive_amount": {
                            "type": "string",
                            "example": "0"
                          },
                          "created_at": {
                            "type": "string",
                            "example": "2022-12-09T13:53:43+00:00"
                          },
                          "order_id": {
                            "type": "string",
                            "example": ""
                          },
                          "payment_url": {
                            "type": "string",
                            "example": "http://localhost:3000/invoice/e386db94-d648-4b4b-9b19-1f2825f7eb32"
                          },
                          "underpaid_amount": {
                            "type": "string",
                            "example": "0"
                          },
                          "overpaid_amount": {
                            "type": "string",
                            "example": "0"
                          },
                          "is_refundable": {
                            "type": "boolean",
                            "example": false,
                            "default": true
                          },
                          "refunds": {
                            "type": "array"
                          },
                          "voids": {
                            "type": "array"
                          },
                          "fees": {
                            "type": "array"
                          },
                          "blockchain_transactions": {
                            "type": "array"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -H \"Authorization: Token YOUR_APP_TOKEN\" https://api.coingate.com/v2/orders?per_page=2&page=1&sort=created_at_desc\n\n# Filter by created_at[from]=2022-01-01&created_at[to]=2022-12-31\ncurl -H 'Authorization: Token YOUR_APP_TOKEN' \"https://api.coingate.com/v2/orders?created_at%5Bfrom%5D=2022-01-01&created_at%5Bto%5D=2022-12-31\"\n     "
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/orders/{id}/checkout": {
      "post": {
        "summary": "Checkout",
        "description": "Placing [created order](https://developer.coingate.com/reference/create-order) with pre-selected payment currency (BTC, LTC, ETH, etc). Display payment_address and pay_amount for shopper or redirect to payment_url. Can be used to white-label invoices.",
        "operationId": "checkout",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "CoinGate order ID",
            "schema": {
              "type": "integer",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"id\": 10568600,\n  \"status\": \"pending\",\n  \"title\": \"Merchant Title\",\n  \"do_not_convert\": false,\n  \"orderable_type\": \"ApiApp\",\n  \"orderable_id\": 2,\n  \"uuid\": \"a8cb2e9b-359b-4105-aa66-c88f89455567\",\n  \"payment_gateway\": \"coingate\",\n  \"price_currency\": \"EUR\",\n  \"price_amount\": \"0.2\",\n  \"pay_currency\": \"BTC\",\n  \"pay_amount\": \"0.00001225\",\n  \"lightning_network\": false,\n  \"receive_currency\": \"BTC\",\n  \"receive_amount\": \"0\",\n  \"created_at\": \"2024-09-19T11:04:53+00:00\",\n  \"expire_at\": \"2024-09-19T11:25:13+00:00\",\n  \"payment_address\": \"tb1qjye4n592z2zrn8k4984cqlx7v6qyns89dx6cxh\",\n  \"order_id\": \"96\",\n  \"payment_url\": \"https://pay.coingate.com/invoice/a8cb2e9b-359b-4105-aa66-c88f89455567\",\n  \"underpaid_amount\": \"0.00001225\",\n  \"overpaid_amount\": \"0\",\n  \"is_refundable\": false,\n  \"conversion_rate\": \"53088.0\",\n  \"payment_request_uri\": \"bitcoin:tb1qjye4n592z2zrn8k4984cqlx7v6qyns89dx6cxh?amount=0.00001225\",\n  \"platform\": {\n      \"id\": 6,\n      \"title\": \"Bitcoin\",\n      \"id_name\": \"bitcoin\"\n  },\n  \"refunds\": [],\n  \"voids\": [],\n  \"fees\": [],\n  \"blockchain_transactions\": []\n\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 10568600,
                      "default": 0
                    },
                    "status": {
                      "type": "string",
                      "example": "pending"
                    },
                    "title": {
                      "type": "string",
                      "example": "Merchant Title"
                    },
                    "do_not_convert": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "orderable_type": {
                      "type": "string",
                      "example": "ApiApp"
                    },
                    "orderable_id": {
                      "type": "integer",
                      "example": 2,
                      "default": 0
                    },
                    "uuid": {
                      "type": "string",
                      "example": "a8cb2e9b-359b-4105-aa66-c88f89455567"
                    },
                    "payment_gateway": {
                      "type": "string",
                      "example": "coingate"
                    },
                    "price_currency": {
                      "type": "string",
                      "example": "EUR"
                    },
                    "price_amount": {
                      "type": "string",
                      "example": "0.2"
                    },
                    "pay_currency": {
                      "type": "string",
                      "example": "BTC"
                    },
                    "pay_amount": {
                      "type": "string",
                      "example": "0.00001225"
                    },
                    "lightning_network": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "receive_currency": {
                      "type": "string",
                      "example": "BTC"
                    },
                    "receive_amount": {
                      "type": "string",
                      "example": "0"
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2024-09-19T11:04:53+00:00"
                    },
                    "expire_at": {
                      "type": "string",
                      "example": "2024-09-19T11:25:13+00:00"
                    },
                    "payment_address": {
                      "type": "string",
                      "example": "tb1qjye4n592z2zrn8k4984cqlx7v6qyns89dx6cxh"
                    },
                    "order_id": {
                      "type": "string",
                      "example": "96"
                    },
                    "payment_url": {
                      "type": "string",
                      "example": "https://pay.coingate.com/invoice/a8cb2e9b-359b-4105-aa66-c88f89455567"
                    },
                    "underpaid_amount": {
                      "type": "string",
                      "example": "0.00001225"
                    },
                    "overpaid_amount": {
                      "type": "string",
                      "example": "0"
                    },
                    "is_refundable": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "conversion_rate": {
                      "type": "string",
                      "example": "53088.0"
                    },
                    "payment_request_uri": {
                      "type": "string",
                      "example": "bitcoin:tb1qjye4n592z2zrn8k4984cqlx7v6qyns89dx6cxh?amount=0.00001225"
                    },
                    "platform": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 6,
                          "default": 0
                        },
                        "title": {
                          "type": "string",
                          "example": "Bitcoin"
                        },
                        "id_name": {
                          "type": "string",
                          "example": "bitcoin"
                        }
                      }
                    },
                    "refunds": {
                      "type": "array"
                    },
                    "voids": {
                      "type": "array"
                    },
                    "fees": {
                      "type": "array"
                    },
                    "blockchain_transactions": {
                      "type": "array"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"message\": \"Order does not exist\",\n    \"reason\": \"OrderNotFound\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Order does not exist"
                    },
                    "reason": {
                      "type": "string",
                      "example": "OrderNotFound"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X \"POST\" \"https://api.coingate.com/v2/orders/10568600/checkout\" \\\n     -H 'Authorization: Token 1234' \\\n     -H 'Content-Type: application/x-www-form-urlencoded; charset=utf-8' \\\n     --data-urlencode \"pay_currency=ETH\" \\\n     --data-urlencode \"platform_id=2\"\n"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "pay_currency": {
                    "type": "string",
                    "description": "The currency symbol of the cryptocurrency used for payment (e.g., BTC, USDC, LTC). To retrieve the full [list of supported payment currencies](https://api.coingate.com/v2/currencies?native=true&enabled=true&merchant_pay=true). "
                  },
                  "platform_id": {
                    "type": "integer",
                    "description": "The blockchain platform ID associated with the selected `pay_currency`. A [list of supported platforms](https://developer.coingate.com/reference/platforms) is available."
                  }
                },
                "type": "object",
                "required": [
                  "pay_currency",
                  "platform_id"
                ]
              }
            }
          }
        }
      }
    },
    "/orders/{id}": {
      "get": {
        "summary": "Get Order",
        "description": "",
        "operationId": "get-order",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "CoinGate Order id",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "id": 535,
                      "status": "paid",
                      "title": "test",
                      "do_not_convert": false,
                      "orderable_type": "Button",
                      "orderable_id": 2,
                      "price_currency": "EUR",
                      "price_amount": "100.0",
                      "pay_currency": "BTC",
                      "pay_amount": "0.00489886",
                      "lightning_network": false,
                      "receive_currency": "USDT",
                      "receive_amount": "99.758162",
                      "created_at": "2022-12-06T10:58:21+00:00",
                      "expire_at": "2022-12-06T11:18:25+00:00",
                      "paid_at": "2022-12-06T10:58:31+00:00",
                      "payment_address": "c9a71333-2ab9-4e66-a50d-d111f732cb08",
                      "payment_gateway": "coingate",
                      "order_id": "",
                      "payment_url": "http://localhost:3000/invoice/68d7e03c-6bd0-401e-b9c3-f891709b88d8",
                      "payment_request_uri": "bitcoin:3KCtuihM6uPmRDtpELfBmnt9hVRQ8G9tUX?amount=1.43",
                      "underpaid_amount": "0.00489886",
                      "overpaid_amount": "0",
                      "is_refundable": false,
                      "conversion_rate": "20566.0",
                      "refunds": [
                        {
                          "id": 8,
                          "request_amount": "10.0",
                          "refund_amount": "0.0004862",
                          "address": "3CCV3GjNvQip5ewsHhzYc136WhaeCzHigj",
                          "status": "pending",
                          "memo": null,
                          "created_at": "2022-12-06T11:01:50+00:00",
                          "order": {
                            "id": 535
                          },
                          "refund_currency": {
                            "id": 1,
                            "title": "Bitcoin",
                            "symbol": "BTC",
                            "platform": {
                              "id": 5,
                              "title": "Bitcoin"
                            }
                          },
                          "transactions": [],
                          "ledger_account": {
                            "id": "01GJZBH2JZF3E369HT9GVM71CE",
                            "currency": {
                              "id": 1,
                              "title": "Bitcoin",
                              "symbol": "BTC"
                            }
                          }
                        }
                      ],
                      "voids": [],
                      "fees": [
                        {
                          "type": "processing_fee",
                          "amount": "1.007658",
                          "currency": {
                            "id": 21,
                            "symbol": "USDT"
                          }
                        }
                      ],
                      "blockchain_transactions": [
                        {
                          "id": 123,
                          "txid": "5c1a0a92-9a3d-4107-9a00-8d6a2a4b6620",
                          "amount": "0.00001234",
                          "status": "confirming",
                          "network_confirmations": 0,
                          "currency": {
                            "id": 1,
                            "title": "Bitcoin",
                            "symbol": "BTC",
                            "platform": {
                              "id": 6,
                              "title": "Bitcoin"
                            }
                          }
                        }
                      ],
                      "ledger_transactions": [
                        {
                          "id": "01KQYT8NNTDN5M185MWNNSKJBN",
                          "type": "merchant_order",
                          "credited_amount": "0",
                          "debited_amount": "100.0",
                          "purpose": "Order ID #535 100.0 EUR"
                        },
                        {
                          "id": "01KQYT8PNSPFF7ZW9B51RJ7QJ4",
                          "type": "fee",
                          "credited_amount": "1.007658",
                          "debited_amount": "0",
                          "purpose": "Order ID #535 processing fee 1.007658 USDT"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 535,
                      "default": 0
                    },
                    "status": {
                      "type": "string",
                      "example": "paid"
                    },
                    "title": {
                      "type": "string",
                      "example": "test"
                    },
                    "do_not_convert": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "orderable_type": {
                      "type": "string",
                      "example": "Button"
                    },
                    "orderable_id": {
                      "type": "integer",
                      "example": 2,
                      "default": 0
                    },
                    "price_currency": {
                      "type": "string",
                      "example": "EUR"
                    },
                    "price_amount": {
                      "type": "string",
                      "example": "100.0"
                    },
                    "pay_currency": {
                      "type": "string",
                      "example": "BTC"
                    },
                    "pay_amount": {
                      "type": "string",
                      "example": "0.00489886"
                    },
                    "lightning_network": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "receive_currency": {
                      "type": "string",
                      "example": "USDT"
                    },
                    "receive_amount": {
                      "type": "string",
                      "example": "99.758162"
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2022-12-06T10:58:21+00:00"
                    },
                    "expire_at": {
                      "type": "string",
                      "example": "2022-12-06T11:18:25+00:00"
                    },
                    "paid_at": {
                      "type": "string",
                      "example": "2022-12-06T10:58:31+00:00"
                    },
                    "payment_address": {
                      "type": "string",
                      "example": "c9a71333-2ab9-4e66-a50d-d111f732cb08"
                    },
                    "payment_gateway": {
                      "type": "string",
                      "example": "coingate"
                    },
                    "order_id": {
                      "type": "string",
                      "example": ""
                    },
                    "payment_url": {
                      "type": "string",
                      "example": "http://localhost:3000/invoice/68d7e03c-6bd0-401e-b9c3-f891709b88d8"
                    },
                    "payment_request_uri": {
                      "type": "string",
                      "example": "bitcoin:3KCtuihM6uPmRDtpELfBmnt9hVRQ8G9tUX?amount=1.43"
                    },
                    "underpaid_amount": {
                      "type": "string",
                      "example": "0.00489886"
                    },
                    "overpaid_amount": {
                      "type": "string",
                      "example": "0"
                    },
                    "is_refundable": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "conversion_rate": {
                      "type": "string",
                      "example": "20566.0"
                    },
                    "refunds": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 8,
                            "default": 0
                          },
                          "request_amount": {
                            "type": "string",
                            "example": "10.0"
                          },
                          "refund_amount": {
                            "type": "string",
                            "example": "0.0004862"
                          },
                          "address": {
                            "type": "string",
                            "example": "3CCV3GjNvQip5ewsHhzYc136WhaeCzHigj"
                          },
                          "status": {
                            "type": "string",
                            "example": "pending"
                          },
                          "memo": {},
                          "created_at": {
                            "type": "string",
                            "example": "2022-12-06T11:01:50+00:00"
                          },
                          "order": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "example": 535,
                                "default": 0
                              }
                            }
                          },
                          "refund_currency": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "example": 1,
                                "default": 0
                              },
                              "title": {
                                "type": "string",
                                "example": "Bitcoin"
                              },
                              "symbol": {
                                "type": "string",
                                "example": "BTC"
                              },
                              "platform": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "integer",
                                    "example": 5,
                                    "default": 0
                                  },
                                  "title": {
                                    "type": "string",
                                    "example": "Bitcoin"
                                  }
                                }
                              }
                            }
                          },
                          "transactions": {
                            "type": "array"
                          },
                          "ledger_account": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "01GJZBH2JZF3E369HT9GVM71CE"
                              },
                              "currency": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "integer",
                                    "example": 1,
                                    "default": 0
                                  },
                                  "title": {
                                    "type": "string",
                                    "example": "Bitcoin"
                                  },
                                  "symbol": {
                                    "type": "string",
                                    "example": "BTC"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "voids": {
                      "type": "array"
                    },
                    "fees": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "processing_fee"
                          },
                          "amount": {
                            "type": "string",
                            "example": "1.007658"
                          },
                          "currency": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "example": 21,
                                "default": 0
                              },
                              "symbol": {
                                "type": "string",
                                "example": "USDT"
                              }
                            }
                          }
                        }
                      }
                    },
                    "blockchain_transactions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 123,
                            "default": 0
                          },
                          "txid": {
                            "type": "string",
                            "example": "5c1a0a92-9a3d-4107-9a00-8d6a2a4b6620"
                          },
                          "amount": {
                            "type": "string",
                            "example": "0.00001234"
                          },
                          "status": {
                            "type": "string",
                            "example": "confirming"
                          },
                          "network_confirmations": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "currency": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "example": 1,
                                "default": 0
                              },
                              "title": {
                                "type": "string",
                                "example": "Bitcoin"
                              },
                              "symbol": {
                                "type": "string",
                                "example": "BTC"
                              },
                              "platform": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "integer",
                                    "example": 6,
                                    "default": 0
                                  },
                                  "title": {
                                    "type": "string",
                                    "example": "Bitcoin"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"message\": \"Order not found\",\n  \"reason\": \"OrderNotFound\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Order not found"
                    },
                    "reason": {
                      "type": "string",
                      "example": "OrderNotFound"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -H \"Authorization: Token YOUR_APP_TOKEN\" https://api.coingate.com/v2/orders/1195824"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/orders/{order_id}/blockchain_transactions": {
      "get": {
        "summary": "Get Order Transactions",
        "description": "Retrieves all blockchain transactions for an order. Before making a <b>GET Order Blockchain Transactions</b> request, a [POST Create Order](/reference/create-order) request should be made. After an order is created, you will get the order ID which will be used in the <b>GET Order Blockchain Transactions</b> request.",
        "operationId": "get-order-transactions",
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "description": "ID of the order to get blockchain transactions",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "page": {
                    "type": "integer",
                    "description": "Current page number",
                    "default": 1,
                    "format": "int32"
                  },
                  "per_page": {
                    "type": "integer",
                    "description": "Number of blockchain transactions per page",
                    "default": 100,
                    "format": "int32"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n\t\"current_page\": 1,\n\t\"per_page\": 100,\n\t\"total_transactions\": 1,\n\t\"total_pages\": 1,\n\t\"transactions\": [\n\t\t{\n\t\t\t\"id\": 123,\n\t\t\t\"txid\": \"5c1a0a92-,9a3d-4107-9a00-8d6a2a4b6620\",\n\t\t\t\"amount\": \"0.00001234\",\n\t\t\t\"status\": \"confirming\",\n\t\t\t\"network_confirmations\": 0,\n\t\t\t\"currency\": {\n\t\t\t\t\"id\": 1,\n\t\t\t\t\"title\": \"Bitcoin\",\n\t\t\t\t\"symbol\": \"BTC\",\n\t\t\t\t\"platform\": {\n\t\t\t\t\t\"id\": 6,\n\t\t\t\t\t\"title\": \"Bitcoin\"\n\t\t\t\t}\n\t\t\t}\n\t\t}\n\t]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "current_page": {
                      "type": "integer",
                      "example": 1,
                      "default": 0
                    },
                    "per_page": {
                      "type": "integer",
                      "example": 100,
                      "default": 0
                    },
                    "total_transactions": {
                      "type": "integer",
                      "example": 1,
                      "default": 0
                    },
                    "total_pages": {
                      "type": "integer",
                      "example": 1,
                      "default": 0
                    },
                    "transactions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 123,
                            "default": 0
                          },
                          "txid": {
                            "type": "string",
                            "example": "5c1a0a92-,9a3d-4107-9a00-8d6a2a4b6620"
                          },
                          "amount": {
                            "type": "string",
                            "example": "0.00001234"
                          },
                          "status": {
                            "type": "string",
                            "example": "confirming"
                          },
                          "network_confirmations": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "currency": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "example": 1,
                                "default": 0
                              },
                              "title": {
                                "type": "string",
                                "example": "Bitcoin"
                              },
                              "symbol": {
                                "type": "string",
                                "example": "BTC"
                              },
                              "platform": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "integer",
                                    "example": 6,
                                    "default": 0
                                  },
                                  "title": {
                                    "type": "string",
                                    "example": "Bitcoin"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/orders/{order_id}/blockchain_transactions/:id": {
      "get": {
        "summary": "Get Order Transaction",
        "description": "Retrieves a single order blockchain transaction for an order. Before making a <b>GET Order Blockchain Transaction</b> request, a [POST Create Order](/reference/create-order) request should be made. After an order is created, you will get the order ID which will be used in the <b>GET Order Blockchain Transaction</b> request.",
        "operationId": "get-order-transaction",
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "description": "ID of the order to get blockchain transactions",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "name": ":blockchain_transaction_id",
            "in": "path",
            "description": "Transaction ID of blockchain transaction in order information",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n\t\"id\": 123,\n\t\"txid\": \"5c1a0a92-9a3d-4107-9a00-8d6a2a4b6620\",\n\t\"amount\": \"0.00001234\",\n\t\"status\": \"confirming\",\n\t\"network_confirmations\": 6,\n\t\"currency\": {\n\t\t\"id\": 1,\n\t\t\"title\": \"Bitcoin\",\n\t\t\"symbol\": \"BTC\",\n\t\t\"platform\": {\n\t\t\t\"id\": 6,\n\t\t\t\"title\": \"Bitcoin\"\n\t\t}\n\t}\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 123,
                      "default": 0
                    },
                    "txid": {
                      "type": "string",
                      "example": "5c1a0a92-9a3d-4107-9a00-8d6a2a4b6620"
                    },
                    "amount": {
                      "type": "string",
                      "example": "0.00001234"
                    },
                    "status": {
                      "type": "string",
                      "example": "confirming"
                    },
                    "network_confirmations": {
                      "type": "integer",
                      "example": 6,
                      "default": 0
                    },
                    "currency": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "title": {
                          "type": "string",
                          "example": "Bitcoin"
                        },
                        "symbol": {
                          "type": "string",
                          "example": "BTC"
                        },
                        "platform": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "example": 6,
                              "default": 0
                            },
                            "title": {
                              "type": "string",
                              "example": "Bitcoin"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/orders/{id}/binance/checkout": {
      "post": {
        "summary": "Checkout",
        "description": "",
        "operationId": "binance-checkout",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the order to be processed through Binance Pay",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "purchaser_email": {
                    "type": "string",
                    "description": "Email address of the purchaser (payee) provided will be pre-filled on the invoice."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"id\": 10568600,\n    \"status\": \"pending\",\n    \"title\": null,\n    \"do_not_convert\": false,\n    \"orderable_type\": \"ApiApp\",\n    \"orderable_id\": 44,\n    \"payment_gateway\": \"binance\",\n    \"price_currency\": \"USD\",\n    \"price_amount\": \"100.0\",\n    \"pay_currency\": \"BUSD\",\n    \"pay_amount\": \"101.7527\",\n    \"lightning_network\": false,\n    \"receive_currency\": \"USD\",\n    \"receive_amount\": \"0\",\n    \"created_at\": \"2023-04-19T11:56:47+00:00\",\n    \"expire_at\": \"2023-04-19T12:18:56+00:00\",\n    \"order_id\": \"\",\n    \"payment_url\": \"https://pay.coingate.com/invoice/fad0f947-cb29-451e-8fdb-290a8d3c05bf\",\n    \"underpaid_amount\": \"0\",\n    \"overpaid_amount\": \"0\",\n    \"is_refundable\": false,\n    \"conversion_rate\": \"0.9999\",\n    \"refunds\": [],\n    \"voids\": [],\n    \"fees\": [],\n    \"binance\": {\n        \"qr_code_link\": \"https://public.bnbstatic.com/static/payment/20230419/c1f93152-eb86-4a84-b22a-93a022847ad1.jpg\",\n        \"qr_content\": \"https://app.binance.com/qr/dplk72ef8779aa5d4ea5a6f3ae109caeadba\",\n        \"checkout_url\": \"https://pay.binance.com/en/checkout/f49488c95153402a882b792ec9e35a9c\",\n        \"deep_link\": \"bnc://app.binance.com/payment/secpay?tempToken=3jfhFunnFwqnPFTm3EEGME3GNkxCWjUZ&returnLink=https://testing.requestcatcher.com/test&cancelLink=https://testing.requestcatcher.com/test\",\n        \"universal_url\": \"https://app.binance.com/payment/secpay?linkToken=f49488c95153402a882b792ec9e35a9c&_dp=Ym5jOi8vYXBwLmJpbmFuY2UuY29tL3BheW1lbnQvc2VjcGF5P3RlbXBUb2tlbj0zamZoRnVubkZ3cW5QRlRtM0VFR01FM0dOa3hDV2pVWiZyZXR1cm5MaW5rPWh0dHBzOi8vdGVzdGluZy5yZXF1ZXN0Y2F0Y2hlci5jb20vdGVzdCZjYW5jZWxMaW5rPWh0dHBzOi8vdGVzdGluZy5yZXF1ZXN0Y2F0Y2hlci5jb20vdGVzdA\"\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 10568600,
                      "default": 0
                    },
                    "status": {
                      "type": "string",
                      "example": "pending"
                    },
                    "title": {},
                    "do_not_convert": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "orderable_type": {
                      "type": "string",
                      "example": "ApiApp"
                    },
                    "orderable_id": {
                      "type": "integer",
                      "example": 44,
                      "default": 0
                    },
                    "payment_gateway": {
                      "type": "string",
                      "example": "binance"
                    },
                    "price_currency": {
                      "type": "string",
                      "example": "USD"
                    },
                    "price_amount": {
                      "type": "string",
                      "example": "100.0"
                    },
                    "pay_currency": {
                      "type": "string",
                      "example": "BUSD"
                    },
                    "pay_amount": {
                      "type": "string",
                      "example": "101.7527"
                    },
                    "lightning_network": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "receive_currency": {
                      "type": "string",
                      "example": "USD"
                    },
                    "receive_amount": {
                      "type": "string",
                      "example": "0"
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2023-04-19T11:56:47+00:00"
                    },
                    "expire_at": {
                      "type": "string",
                      "example": "2023-04-19T12:18:56+00:00"
                    },
                    "order_id": {
                      "type": "string",
                      "example": ""
                    },
                    "payment_url": {
                      "type": "string",
                      "example": "https://pay.coingate.com/invoice/fad0f947-cb29-451e-8fdb-290a8d3c05bf"
                    },
                    "underpaid_amount": {
                      "type": "string",
                      "example": "0"
                    },
                    "overpaid_amount": {
                      "type": "string",
                      "example": "0"
                    },
                    "is_refundable": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "conversion_rate": {
                      "type": "string",
                      "example": "0.9999"
                    },
                    "refunds": {
                      "type": "array"
                    },
                    "voids": {
                      "type": "array"
                    },
                    "fees": {
                      "type": "array"
                    },
                    "binance": {
                      "type": "object",
                      "properties": {
                        "qr_code_link": {
                          "type": "string",
                          "example": "https://public.bnbstatic.com/static/payment/20230419/c1f93152-eb86-4a84-b22a-93a022847ad1.jpg"
                        },
                        "qr_content": {
                          "type": "string",
                          "example": "https://app.binance.com/qr/dplk72ef8779aa5d4ea5a6f3ae109caeadba"
                        },
                        "checkout_url": {
                          "type": "string",
                          "example": "https://pay.binance.com/en/checkout/f49488c95153402a882b792ec9e35a9c"
                        },
                        "deep_link": {
                          "type": "string",
                          "example": "bnc://app.binance.com/payment/secpay?tempToken=3jfhFunnFwqnPFTm3EEGME3GNkxCWjUZ&returnLink=https://testing.requestcatcher.com/test&cancelLink=https://testing.requestcatcher.com/test"
                        },
                        "universal_url": {
                          "type": "string",
                          "example": "https://app.binance.com/payment/secpay?linkToken=f49488c95153402a882b792ec9e35a9c&_dp=Ym5jOi8vYXBwLmJpbmFuY2UuY29tL3BheW1lbnQvc2VjcGF5P3RlbXBUb2tlbj0zamZoRnVubkZ3cW5QRlRtM0VFR01FM0dOa3hDV2pVWiZyZXR1cm5MaW5rPWh0dHBzOi8vdGVzdGluZy5yZXF1ZXN0Y2F0Y2hlci5jb20vdGVzdCZjYW5jZWxMaW5rPWh0dHBzOi8vdGVzdGluZy5yZXF1ZXN0Y2F0Y2hlci5jb20vdGVzdA"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"message\": \"Order is not valid\",\n    \"reason\": \"OrderIsNotValid\",\n    \"errors\": [\n        \"Order already settled\"\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Order is not valid"
                    },
                    "reason": {
                      "type": "string",
                      "example": "OrderIsNotValid"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Order already settled"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X \"POST\" \"https://api.coingate.com/v2/orders/10568600/binance/checkout\" \\\n     -H 'Authorization: Token 1234' \\\n     -H 'Content-Type: application/x-www-form-urlencoded; charset=utf-8' \\\n     --data-urlencode \"purchaser_email=shopperEmail@sample.com\" "
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/orders/{id}/binance/cancel": {
      "post": {
        "summary": "Cancel Order",
        "description": "",
        "operationId": "binance-cancel",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the order to be cancelled",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"id\": 10568600,\n    \"status\": \"canceled\",\n    \"title\": null,\n    \"do_not_convert\": false,\n    \"orderable_type\": \"ApiApp\",\n    \"orderable_id\": 44,\n    \"payment_gateway\": \"binance\",\n    \"price_currency\": \"USD\",\n    \"price_amount\": \"100.0\",\n    \"pay_currency\": \"BUSD\",\n    \"pay_amount\": \"101.7527\",\n    \"lightning_network\": false,\n    \"receive_currency\": \"USD\",\n    \"receive_amount\": \"0\",\n    \"created_at\": \"2023-04-19T11:56:47+00:00\",\n    \"expire_at\": \"2023-04-19T12:18:56+00:00\",\n    \"order_id\": \"\",\n    \"payment_url\": \"https://pay.coingate.com/invoice/fad0f947-cb29-451e-8fdb-290a8d3c05bf\",\n    \"underpaid_amount\": \"0\",\n    \"overpaid_amount\": \"0\",\n    \"is_refundable\": false,\n    \"conversion_rate\": \"0.9999\",\n    \"refunds\": [],\n    \"voids\": [],\n    \"fees\": []\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 10568600,
                      "default": 0
                    },
                    "status": {
                      "type": "string",
                      "example": "canceled"
                    },
                    "title": {},
                    "do_not_convert": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "orderable_type": {
                      "type": "string",
                      "example": "ApiApp"
                    },
                    "orderable_id": {
                      "type": "integer",
                      "example": 44,
                      "default": 0
                    },
                    "payment_gateway": {
                      "type": "string",
                      "example": "binance"
                    },
                    "price_currency": {
                      "type": "string",
                      "example": "USD"
                    },
                    "price_amount": {
                      "type": "string",
                      "example": "100.0"
                    },
                    "pay_currency": {
                      "type": "string",
                      "example": "BUSD"
                    },
                    "pay_amount": {
                      "type": "string",
                      "example": "101.7527"
                    },
                    "lightning_network": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "receive_currency": {
                      "type": "string",
                      "example": "USD"
                    },
                    "receive_amount": {
                      "type": "string",
                      "example": "0"
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2023-04-19T11:56:47+00:00"
                    },
                    "expire_at": {
                      "type": "string",
                      "example": "2023-04-19T12:18:56+00:00"
                    },
                    "order_id": {
                      "type": "string",
                      "example": ""
                    },
                    "payment_url": {
                      "type": "string",
                      "example": "https://pay.coingate.com/invoice/fad0f947-cb29-451e-8fdb-290a8d3c05bf"
                    },
                    "underpaid_amount": {
                      "type": "string",
                      "example": "0"
                    },
                    "overpaid_amount": {
                      "type": "string",
                      "example": "0"
                    },
                    "is_refundable": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "conversion_rate": {
                      "type": "string",
                      "example": "0.9999"
                    },
                    "refunds": {
                      "type": "array"
                    },
                    "voids": {
                      "type": "array"
                    },
                    "fees": {
                      "type": "array"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"message\": \"Order is not valid\",\n    \"reason\": \"OrderIsNotValid\",\n    \"errors\": \"Status must be pending to cancel the order\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Order is not valid"
                    },
                    "reason": {
                      "type": "string",
                      "example": "OrderIsNotValid"
                    },
                    "errors": {
                      "type": "string",
                      "example": "Status must be pending to cancel the order"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X \"POST\" \"https://api.coingate.com/v2/orders/10568600/binance/cancel\" \\\n     -H 'Authorization: Token 1234' "
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/orders/{id}/binance/refund": {
      "post": {
        "summary": "Refund Binance Order",
        "description": "",
        "operationId": "create-binance-order-refund",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the order to be refunded",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "amount",
                  "reason",
                  "email",
                  "ledger_account_id"
                ],
                "properties": {
                  "amount": {
                    "type": "number",
                    "description": "Requesting amount in order price currency to refund",
                    "format": "double"
                  },
                  "reason": {
                    "type": "string",
                    "description": "Reason for issuing the refund"
                  },
                  "email": {
                    "type": "string",
                    "description": "Customer will receive updates on refund status to this email"
                  },
                  "ledger_account_id": {
                    "type": "string",
                    "description": "ID of the trader balance associated with the currency in which the refund will be issued"
                  },
                  "callback_url": {
                    "type": "string",
                    "description": "Send an automated message to Merchant URL when refund status is changed. For testing you can use requestcatcher.com tool. URL must be direct without redirection. Read about refund callbacks [here](/reference/refund-callback)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"id\": 3,\n    \"request_amount\": \"1.0\",\n    \"refund_amount\": \"1.0892\",\n    \"address\": null,\n    \"status\": \"pending\",\n    \"memo\": null,\n    \"balance_debit_amount\": \"0.0000198\",\n    \"callback_url\": \"https://testrefund.requestcatcher.com/test\",\n    \"skip_user_address_confirmation\": null,\n    \"created_at\": \"2024-09-26T13:38:56+00:00\",\n    \"updated_at\": \"2024-09-26T13:38:56+00:00\",\n    \"processor\": \"binance\",\n    \"binance_refund_id\": 3,\n    \"order\": {\n        \"id\": 29,\n        \"title\": \"Testing Order\",\n        \"price_amount\": \"10.0\",\n        \"created_at\": \"2024-06-20T10:36:07+00:00\",\n        \"paid_at\": \"2024-06-20T10:51:34+00:00\",\n        \"price_currency\": {\n            \"id\": 2,\n            \"title\": \"Euro\",\n            \"kind\": \"fiat\",\n            \"symbol\": \"EUR\"\n        }\n    },\n    \"balance_debit_currency\": {\n        \"id\": 1,\n        \"title\": \"Bitcoin\",\n        \"kind\": \"crypto\",\n        \"symbol\": \"BTC\"\n    },\n    \"refund_currency\": {\n        \"id\": 34,\n        \"title\": \"USDC\",\n        \"symbol\": \"USDC\"\n    },\n    \"transactions\": [],\n    \"fees\": {\n        \"service_fee\": {\n            \"amount\": \"0.00000497\",\n            \"currency\": {\n                \"id\": 1,\n                \"title\": \"Bitcoin\",\n                \"kind\": \"crypto\",\n                \"symbol\": \"BTC\"\n            }\n        }\n    },\n    \"ledger_account\": {\n        \"id\": \"01HP6X6EP5YG76EQPTFBRWD6Y9\",\n        \"currency\": {\n            \"id\": 1,\n            \"title\": \"Bitcoin\",\n            \"symbol\": \"BTC\"\n        }\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 3,
                      "default": 0
                    },
                    "request_amount": {
                      "type": "string",
                      "example": "1.0"
                    },
                    "refund_amount": {
                      "type": "string",
                      "example": "1.0892"
                    },
                    "address": {},
                    "status": {
                      "type": "string",
                      "example": "pending"
                    },
                    "memo": {},
                    "balance_debit_amount": {
                      "type": "string",
                      "example": "0.0000198"
                    },
                    "callback_url": {
                      "type": "string",
                      "example": "https://testrefund.requestcatcher.com/test"
                    },
                    "skip_user_address_confirmation": {},
                    "created_at": {
                      "type": "string",
                      "example": "2024-09-26T13:38:56+00:00"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2024-09-26T13:38:56+00:00"
                    },
                    "processor": {
                      "type": "string",
                      "example": "binance"
                    },
                    "binance_refund_id": {
                      "type": "integer",
                      "example": 3,
                      "default": 0
                    },
                    "order": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 29,
                          "default": 0
                        },
                        "title": {
                          "type": "string",
                          "example": "Testing Order"
                        },
                        "price_amount": {
                          "type": "string",
                          "example": "10.0"
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2024-06-20T10:36:07+00:00"
                        },
                        "paid_at": {
                          "type": "string",
                          "example": "2024-06-20T10:51:34+00:00"
                        },
                        "price_currency": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "example": 2,
                              "default": 0
                            },
                            "title": {
                              "type": "string",
                              "example": "Euro"
                            },
                            "kind": {
                              "type": "string",
                              "example": "fiat"
                            },
                            "symbol": {
                              "type": "string",
                              "example": "EUR"
                            }
                          }
                        }
                      }
                    },
                    "balance_debit_currency": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "title": {
                          "type": "string",
                          "example": "Bitcoin"
                        },
                        "kind": {
                          "type": "string",
                          "example": "crypto"
                        },
                        "symbol": {
                          "type": "string",
                          "example": "BTC"
                        }
                      }
                    },
                    "refund_currency": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 34,
                          "default": 0
                        },
                        "title": {
                          "type": "string",
                          "example": "USDC"
                        },
                        "symbol": {
                          "type": "string",
                          "example": "USDC"
                        }
                      }
                    },
                    "transactions": {
                      "type": "array"
                    },
                    "fees": {
                      "type": "object",
                      "properties": {
                        "service_fee": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "string",
                              "example": "0.00000497"
                            },
                            "currency": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer",
                                  "example": 1,
                                  "default": 0
                                },
                                "title": {
                                  "type": "string",
                                  "example": "Bitcoin"
                                },
                                "kind": {
                                  "type": "string",
                                  "example": "crypto"
                                },
                                "symbol": {
                                  "type": "string",
                                  "example": "BTC"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "ledger_account": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "01HP6X6EP5YG76EQPTFBRWD6Y9"
                        },
                        "currency": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "example": 1,
                              "default": 0
                            },
                            "title": {
                              "type": "string",
                              "example": "Bitcoin"
                            },
                            "symbol": {
                              "type": "string",
                              "example": "BTC"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n\t\"message\": \"Refund is not valid\",\n\t\"reason\": \"RefundIsNotValid\",\n\t\"errors\": [\n\t\t\"Request amount can't be blank\",\n\t\t\"Request amount must be higher than 1.0 EUR\",\n\t\t\"Request amount is not a number\",\n\t\t\"Refund amount can't be blank\",\n\t\t\"Refund amount is not a number\",\n\t\t\"Balance debit amount can't be blank\",\n\t\t\"Balance debit amount is not a number\"\n\t]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Refund is not valid"
                    },
                    "reason": {
                      "type": "string",
                      "example": "RefundIsNotValid"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Request amount can't be blank"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X \"POST\" \"https://api.coingate.com/v2/orders/:id/binance/refund\" \\\n     -H 'Authorization: Token 1234' \\\n     -H 'Content-Type: application/x-www-form-urlencoded; charset=utf-8' \\\n--data-urlencode \"amount=0.00005\" \\\n--data-urlencode \"email=shopperEmail@sampleshopperemail.com\" \\\n--data-urlencode \"reason=Reason\" \\\n--data-urlencode \"ledger_account_id=01H0PZMJ3BX29DGW86ESX0HNXW\""
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/orders/{order_id}/refunds": {
      "post": {
        "summary": "Create Order Refund",
        "description": "",
        "operationId": "create-refund",
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "description": "ID of the order to be refunded",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "amount",
                  "address",
                  "currency_id",
                  "platform_id",
                  "reason",
                  "email",
                  "ledger_account_id"
                ],
                "properties": {
                  "amount": {
                    "type": "number",
                    "description": "Requesting amount in order price currency to refund",
                    "format": "double"
                  },
                  "address": {
                    "type": "string",
                    "description": "Cryptocurrency address to which the refund will be sent"
[...]
